input{
    width: 370px;
    height: 296px;
    border-radius: 2px;
    outline: auto;
    outline-color: red;
    margin-top: auto;   
}
.link button{
    background-color:RED ;
    outline: auto;
    outline-color: rgb(255, 0, 51);
} 

.forms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
body{
    background-color:rgb(5, 160, 0);
}