<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creater</title>
</head>

<body>
    <h1>create your catmew</h1>
    <img src="{{ image_url }}" alt="">
    <form action="{{ url_for('creater_img') }}" method="post">
        <div>
            <h2>текст</h2>
            <input type="text" name="img_text">
            <input type="number" name="font size" id="">
        </div>
        <div>
            <h2>координаты</h2>
            <input type="number" name="x" id="">
            <input type="number" name="y" id="">
        </div>
        <input type="hidden" name="image" value="{{ image_url }}">
    </form>
    <button type="submit">регистрация</button>
</body>.

</html>