<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creater</title>
</head>
<body>
    <h1>create your catmew</h1>
    <input type="file" name="fail" id="">
    <img src="{{ url_for('static'), filename='1.jpg'}}" alt="" width="400">
    <div>
    <h2>текст</h2>
    <input type="text">
    <input type="number" name="font size" id="">
    </div>
    <div>
    <h2>координаты</h2>
    <input type="number" name="x" id="">
    <input type="number" name="y" id="">
    </div>
    <button type="submit">загрузить</button>
</body>
</html>