<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mem_cat</title>
</head>
<body>
    <h1>CAT MEME</h1>
    <h2>hello -user-, create your cat memew</h2>
    <a href="{{ url_for('login') }}"><button>Войти в другой аккаунт</button></a>
    <a href="{{ url_for('gareley') }}"><button>гарелерея</button></a>
    <a href="{{ url_for('register') }}"><button>новый аккаунт</button></a>
    <a href="{{ url_for('creater') }}"><img src="" alt=""></a>
</body>
</html>