<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mem_cat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>CAT MEME</h1>
    <h2>hello {{ login }}, create your cat memew</h2>
    <div class="link">
        <a href="{{ url_for('login') }}"><button>Войти в другой аккаунт</button></a>
        <a href="{{ url_for('gareley') }}"><button>гарелея</button></a>
        <a href="{{ url_for('register') }}"><button>новый аккаунт</button></a>
    </div>
    <div class="template">
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/1.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/2.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/3.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/4.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/5.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/6.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/7.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/8.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/9.jpg')}}"></a>
        <a href="{{ url_for('creater') }}"><img src="{{ url_for('static', filename='img/10.jpg')}}"></a>
    </div>
</body>
</html>